<template name="Home">
    <div style="overflow:hidden;">
        <header class="header" id="header"><!--header-start-->
            <section class="sect-banner">
                <ul class="kf-slider">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                <div class="container">
                    <div class="v-center">
                            <figure class="logo animated fadeInDown delay-07s">
                                <a href="#"><img src="img/logo.png" alt=""></a>
                                </figure>
                            <h1 class="animated fadeInDown delay-12s">The HardCore Brand</h1>
                            <a class="link animated fadeInUp delay-1s" href="#">Clothings by Hardcore</a>             <a class="link animated fadeInUp delay-1s" href="#">Graphics Design</a>
                    </div>
                </div>
            </section>
          </header><!--header-end-->
        </div>
</template>
